.list-content {
    padding: 40px 0;
}

.list-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    min-width: 0;
    min-height: 0;
}
