.main-navbar {
    display: flex;
    background-color: black;
    height: 65px;
    text-decoration: none;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar__logo {
    color: white;
}

.navbar-countdown {
    position: relative;
    display: flex;
    align-items: center;
    width: 140px;
}

.navbar-countdown h4 {
    position: absolute;
    right: 0;
    text-align: right;
}
